In [1]:
%pip install pandas numpy scipy scikit-learn nltk

Requirement already satisfied: pandas in c:\users\acer\.conda\envs\fyp\lib\site-packages (2.0.1)
Requirement already satisfied: numpy in c:\users\acer\appdata\roaming\python\python310\site-packages (1.23.4)
Requirement already satisfied: scipy in c:\users\acer\.conda\envs\fyp\lib\site-packages (1.10.1)
Requirement already satisfied: scikit-learn in c:\users\acer\.conda\envs\fyp\lib\site-packages (1.2.2)
Requirement already satisfied: nltk in c:\users\acer\appdata\roaming\python\python310\site-packages (3.3)
Requirement already satisfied: tzdata>=2022.1 in c:\users\acer\.conda\envs\fyp\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: pytz>=2020.1 in c:\users\acer\.conda\envs\fyp\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\acer\appdata\roaming\python\python310\site-packages (from pandas) (2.8.2)
Requirement already satisfied: joblib>=1.1.1 in c:\users\acer\.conda\envs\fyp\lib\site-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\acer\.conda\envs\fyp\lib\site-packages (from scikit-learn) (3.1.0)
Requirement already satisfied: six in c:\users\acer\appdata\roaming\python\python310\site-packages (from nltk) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import string

Loading dataset

In [3]:
df = pd.read_csv('labeled.csv')
df.head(10)

   index  file                                               text    sport
0      2     1  THE FIRST KNOWN USE OF AN ARROW L 10,000 BC AN...  archery
1      3    10  Archery Nock Fletching Po eather Shaft: Max Sa...  archery
2      4   101  Tim Gillingham Shooting Clinic UWTEC TENEME HI...  archery
3      5   102  Winter Warm-Up NASP Archery Tournament ped by ...  archery
4      6   103  ALL ARE WELCOME! COME SHOOT FOR FUN OR COMPETI...  archery
5      7   104  Follow Us on Facebook www.hbgarcheryclub.com H...  archery
6      8   105  ft GRUNWALD MUZEUM 1001 AMM Archery 12TH INTER...  archery
7      9   106  3. JACKSON PARISH BOWHUNTERS TOURNAMENT MARCH ...  archery
8     10   107  Kilari NOHDET Exce Ecc Archery KARACHI OPEN AR...  archery
9     11   108  AMITE BIVER TRADITIONAL ARCHERY CLUB Louisiana...  archery

In [4]:
df.shape

(1978, 4)

In [5]:
df['sport'].value_counts()

sport
golf          247
cricket       229
rugby         228
basketball    224
chess         213
baseball      197
archery       172
carrom        159
tennis        159
billiard      150
Name: count, dtype: int64

Take 90% sport data from the dataset

In [6]:
df_train = df.copy()

In [7]:
df_train.shape

(1978, 4)

# Text Pre Processing

In [8]:
df_train

      index  file                                               text    sport
0         2     1  THE FIRST KNOWN USE OF AN ARROW L 10,000 BC AN...  archery
1         3    10  Archery Nock Fletching Po eather Shaft: Max Sa...  archery
2         4   101  Tim Gillingham Shooting Clinic UWTEC TENEME HI...  archery
3         5   102  Winter Warm-Up NASP Archery Tournament ped by ...  archery
4         6   103  ALL ARE WELCOME! COME SHOOT FOR FUN OR COMPETI...  archery
...     ...   ...                                                ...      ...
1973   2286    94                                  TENNIS TOURNAMENT   tennis
1974   2287    95                                TENNIS CHAMPIONSHIP   tennis
1975   2288    96  PRESENTS BY TENNIS CLUB SUMMER TENNIS TOURNAME...   tennis
1976   2289    97  a ALL INDIA TENNIS ASSOCIATION AITA AITA TENNI...   tennis
1977   2291    99  ARE YOU READY FOR TENNIS TOURNAMENT 05.02.20XX...   tennis

[1978 rows x 4 columns]

# Lower Casing English Words

Lower casing is only apply for the English words. Having same word in upper case and lower case can reduce the accuracy. So as a first step convert all the english words to lower case.

In [9]:
df_train['text']= df_train['text'].apply(lambda x: x.lower())
df_train

      index  file                                               text    sport
0         2     1  the first known use of an arrow l 10,000 bc an...  archery
1         3    10  archery nock fletching po eather shaft: max sa...  archery
2         4   101  tim gillingham shooting clinic uwtec teneme hi...  archery
3         5   102  winter warm-up nasp archery tournament ped by ...  archery
4         6   103  all are welcome! come shoot for fun or competi...  archery
...     ...   ...                                                ...      ...
1973   2286    94                                  tennis tournament   tennis
1974   2287    95                                tennis championship   tennis
1975   2288    96  presents by tennis club summer tennis tourname...   tennis
1976   2289    97  a all india tennis association aita aita tenni...   tennis
1977   2291    99  are you ready for tennis tournament 05.02.20xx...   tennis

[1978 rows x 4 columns]

# Removel Of Punctuation

Punctuations are removing, So words can be use to train the model. string.punctuation used to identify the punctuations.

In [10]:
df_train['text']= df_train['text'].apply(lambda x: x.translate(str.maketrans('', '', string.punctuation)))
df_train

      index  file                                               text    sport
0         2     1  the first known use of an arrow l 10000 bc an ...  archery
1         3    10  archery nock fletching po eather shaft max sam...  archery
2         4   101  tim gillingham shooting clinic uwtec teneme hi...  archery
3         5   102  winter warmup nasp archery tournament ped by t...  archery
4         6   103  all are welcome come shoot for fun or competit...  archery
...     ...   ...                                                ...      ...
1973   2286    94                                  tennis tournament   tennis
1974   2287    95                                tennis championship   tennis
1975   2288    96  presents by tennis club summer tennis tourname...   tennis
1976   2289    97  a all india tennis association aita aita tenni...   tennis
1977   2291    99  are you ready for tennis tournament 050220xx 9...   tennis

[1978 rows x 4 columns]

# Removing Accented Characters

In [11]:
# imports
import unicodedata
# function to remove accented characters
def remove_accented_chars(text):
    new_text = unicodedata.normalize('NFKD', text).encode('ascii', 'ignore').decode('utf-8', 'ignore')
    return new_text
# call function
df_train["text"] = df_train["text"].apply(lambda x: remove_accented_chars(x))
df_train

      index  file                                               text    sport
0         2     1  the first known use of an arrow l 10000 bc an ...  archery
1         3    10  archery nock fletching po eather shaft max sam...  archery
2         4   101  tim gillingham shooting clinic uwtec teneme hi...  archery
3         5   102  winter warmup nasp archery tournament ped by t...  archery
4         6   103  all are welcome come shoot for fun or competit...  archery
...     ...   ...                                                ...      ...
1973   2286    94                                  tennis tournament   tennis
1974   2287    95                                tennis championship   tennis
1975   2288    96  presents by tennis club summer tennis tourname...   tennis
1976   2289    97  a all india tennis association aita aita tenni...   tennis
1977   2291    99  are you ready for tennis tournament 050220xx 9...   tennis

[1978 rows x 4 columns]

# Removing Special Characters

In [12]:
import re
# function to remove special characters
def remove_special_characters(text):
    # define the pattern to keep
    pat = r'[^a-zA-z0-9.,!?/:;\"\'\s]' 
    return re.sub(pat, '', text)
 
# call function
df_train["text"] = df_train["text"].apply(lambda x: remove_accented_chars(x))
df_train

      index  file                                               text    sport
0         2     1  the first known use of an arrow l 10000 bc an ...  archery
1         3    10  archery nock fletching po eather shaft max sam...  archery
2         4   101  tim gillingham shooting clinic uwtec teneme hi...  archery
3         5   102  winter warmup nasp archery tournament ped by t...  archery
4         6   103  all are welcome come shoot for fun or competit...  archery
...     ...   ...                                                ...      ...
1973   2286    94                                  tennis tournament   tennis
1974   2287    95                                tennis championship   tennis
1975   2288    96  presents by tennis club summer tennis tourname...   tennis
1976   2289    97  a all india tennis association aita aita tenni...   tennis
1977   2291    99  are you ready for tennis tournament 050220xx 9...   tennis

[1978 rows x 4 columns]

# Remove Numbers

In [13]:
import re

In [14]:
for i, row in df_train.iterrows():
  tmp = re.sub(r'\d', ' ', row['text'])
  tmp = " ".join(tmp.split())
  df_train.at[i, 'text'] = tmp
df_train

      index  file                                               text    sport
0         2     1  the first known use of an arrow l bc an archer...  archery
1         3    10  archery nock fletching po eather shaft max sam...  archery
2         4   101  tim gillingham shooting clinic uwtec teneme hi...  archery
3         5   102  winter warmup nasp archery tournament ped by t...  archery
4         6   103  all are welcome come shoot for fun or competit...  archery
...     ...   ...                                                ...      ...
1973   2286    94                                  tennis tournament   tennis
1974   2287    95                                tennis championship   tennis
1975   2288    96  presents by tennis club summer tennis tourname...   tennis
1976   2289    97  a all india tennis association aita aita tenni...   tennis
1977   2291    99  are you ready for tennis tournament xx am to p...   tennis

[1978 rows x 4 columns]

# Removal Of Stopwords

Remove stop words. Because stop words does not affect to give good accuratable prediction. Those are commanly using words

In [15]:
import nltk

In [16]:
nltk.download('stopwords')
from nltk.corpus import stopwords

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Acer\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [17]:
english_stop_words_list=stopwords.words('english')
print(english_stop_words_list)

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

Removing stopwords and dataset after removing stopwords

In [18]:
def rem_stpwrds(text):
    return " ".join([word for word in str(text).split() if word not in english_stop_words_list])

In [19]:
df_train["text"] = df_train["text"].apply(lambda x: rem_stpwrds(x))
df_train

      index  file                                               text    sport
0         2     1  first known use arrow l bc archery lover toxop...  archery
1         3    10  archery nock fletching po eather shaft max sam...  archery
2         4   101  tim gillingham shooting clinic uwtec teneme hi...  archery
3         5   102  winter warmup nasp archery tournament ped texa...  archery
4         6   103  welcome come shoot fun competition hl scheels ...  archery
...     ...   ...                                                ...      ...
1973   2286    94                                  tennis tournament   tennis
1974   2287    95                                tennis championship   tennis
1975   2288    96  presents tennis club summer tennis tournament ...   tennis
1976   2289    97  india tennis association aita aita tennis tour...   tennis
1977   2291    99  ready tennis tournament xx pm anywhere st city...   tennis

[1978 rows x 4 columns]

# Removal of Frequent words

Most of the frequently used data are have none or littel semantic meaning related to a context. Most of them are articles, pronouns, or conjuctions. So removed top 10 most frequents words.

In [20]:
df_train = df_train.copy()

In [21]:
from collections import Counter

cnt = Counter()

def idf_frq_wrds(text):
  for word in text.split():
    cnt[word] += 1

df_train["text"].apply(lambda x: idf_frq_wrds(x))

cnt.most_common(10)

[('tournament', 841),
 ('pm', 492),
 ('golf', 467),
 ('th', 464),
 ('team', 454),
 ('rugby', 426),
 ('ball', 424),
 ('archery', 423),
 ('club', 348),
 ('carrom', 337)]

In [22]:
df_train

      index  file                                               text    sport
0         2     1  first known use arrow l bc archery lover toxop...  archery
1         3    10  archery nock fletching po eather shaft max sam...  archery
2         4   101  tim gillingham shooting clinic uwtec teneme hi...  archery
3         5   102  winter warmup nasp archery tournament ped texa...  archery
4         6   103  welcome come shoot fun competition hl scheels ...  archery
...     ...   ...                                                ...      ...
1973   2286    94                                  tennis tournament   tennis
1974   2287    95                                tennis championship   tennis
1975   2288    96  presents tennis club summer tennis tournament ...   tennis
1976   2289    97  india tennis association aita aita tennis tour...   tennis
1977   2291    99  ready tennis tournament xx pm anywhere st city...   tennis

[1978 rows x 4 columns]

In [23]:
df_train.to_csv('cleaned.csv')

# Spell Correction

In [24]:
%pip install cyhunspell

Requirement already satisfied: cyhunspell in c:\users\acer\appdata\roaming\python\python310\site-packages (2.0.3)
Requirement already satisfied: cacheman>=2.0.6 in c:\users\acer\appdata\roaming\python\python310\site-packages (from cyhunspell) (2.2.0)
Requirement already satisfied: psutil>=2.1.0 in c:\users\acer\appdata\roaming\python\python310\site-packages (from cacheman>=2.0.6->cyhunspell) (5.9.3)
Note: you may need to restart the kernel to use updated packages.

In [25]:
from hunspell import Hunspell
h = Hunspell()

In [26]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Acer\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [27]:
h = Hunspell('en_CA')

In [28]:
# # Tokenize the sentence
# sentence = "i shold go scool"
# tokens = nltk.word_tokenize(sentence)

# # Check spelling and correct misspellings
# corrected_tokens = []
# for token in tokens:
#     if not h.spell(token):
#         suggestions = h.suggest(token)
#         if suggestions:
#             # Display suggestions and let the user choose one
#             print(f"Misspelled word: {token}")
#             for i, suggestion in enumerate(suggestions):
#                 print(f"{i+1}. {suggestion}")
#             choice = int(input("Choose a correction: "))
#             token = suggestions[choice-1]
#     corrected_tokens.append(token)

# # Join the corrected tokens back into a sentence
# corrected_sentence = ' '.join(corrected_tokens)
# print(corrected_sentence)


# Tokenize and correct misspellings for each row in the DataFrame
for i, row in df_train.iterrows():
    sentence = row['text']  # Assumes the DataFrame has a column named 'text'
    tokens = nltk.word_tokenize(sentence)

    # Check spelling and correct misspellings
    corrected_tokens = []
    for token in tokens:
        if not h.spell(token):  # Check spelling with h.check instead of h.spell
            suggestions = h.suggest(token)
            if suggestions:
                # Display suggestions and let the user choose one
                print(f"Misspelled word: {token}")
                for i, suggestion in enumerate(suggestions):
                    print(f"{i+1}. {suggestion}")
                choice = int(input("Choose a correction: "))
                token = suggestions[choice-1]
        corrected_tokens.append(token)

    # Join the corrected tokens back into a sentence and update the DataFrame
    corrected_sentence = ' '.join(corrected_tokens)
    df_train.at[i, 'text'] = corrected_sentence

Misspelled word: bc
1. BC
2. bx
3. b
4. c
5. be
6. bi
7. ac
8. bl
9. cc
10. bu
11. by
12. bf
13. bk
14. kc

ValueError: invalid literal for int() with base 10: ''

# Stemming

Process of removing inflected or sometimes derived words from the word stem. In this process sometime orignial word meaning is also lose.

In [29]:
from nltk.stem import LancasterStemmer

lc = LancasterStemmer()

def stem(text):
    return " ".join([lc.stem(word) for word in text.split()])

df_train['text'] = df_train['text'].apply(stem)

In [30]:
df_train.to_csv('labeled_stemmed.csv')

In [31]:
df_train

      index  file                                               text    sport
0         2     1  first known us arrow l bc archery lov toxophil...  archery
1         3    10  archery nock fletch po eath shaft max samet mo...  archery
2         4   101  tim gillingham shoot clin uwtec tenem hitrmiss...  archery
3         5   102  wint warmup nasp archery tourna ped texa flory...  archery
4         6   103  welcom com shoot fun competit hl scheels twin ...  archery
...     ...   ...                                                ...      ...
1973   2286    94                                         ten tourna   tennis
1974   2287    95                                          ten champ   tennis
1975   2288    96  pres ten club sum ten tourna sunday april gree...   tennis
1976   2289    97  ind ten assocy ait ait ten tourna boy girl dec...   tennis
1977   2291    99  ready ten tourna xx pm anywh st city fre reg y...   tennis

[1978 rows x 4 columns]

# Naive Bayes Model

Apply Naive Bayes model

Create x and y data from prepreocessed data..

In [32]:
x_data = df_train['text']
y_data = df_train['sport']

Split text and train data. 20% text data.

In [33]:
%pip install -U scikit-learn scipy matplotlib

Requirement already satisfied: scikit-learn in c:\users\acer\.conda\envs\fyp\lib\site-packages (1.2.2)
Requirement already satisfied: scipy in c:\users\acer\.conda\envs\fyp\lib\site-packages (1.10.1)
Requirement already satisfied: matplotlib in c:\users\acer\.conda\envs\fyp\lib\site-packages (3.7.1)
Requirement already satisfied: numpy>=1.17.3 in c:\users\acer\appdata\roaming\python\python310\site-packages (from scikit-learn) (1.23.4)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\acer\.conda\envs\fyp\lib\site-packages (from scikit-learn) (3.1.0)
Requirement already satisfied: joblib>=1.1.1 in c:\users\acer\.conda\envs\fyp\lib\site-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\acer\.conda\envs\fyp\lib\site-packages (from matplotlib) (4.39.3)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\acer\.conda\envs\fyp\lib\site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: pillow>=6.2.0 in c:\users\acer\.conda\envs\fyp\lib\site-packages (from matplotlib) (9.5.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\acer\.conda\envs\fyp\lib\site-packages (from matplotlib) (1.0.7)
Requirement already satisfied: cycler>=0.10 in c:\users\acer\.conda\envs\fyp\lib\site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\acer\appdata\roaming\python\python310\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: packaging>=20.0 in c:\users\acer\appdata\roaming\python\python310\site-packages (from matplotlib) (21.3)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\acer\appdata\roaming\python\python310\site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: six>=1.5 in c:\users\acer\appdata\roaming\python\python310\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [34]:
from sklearn.model_selection import train_test_split

In [35]:
x_train , x_test , y_train , y_test = train_test_split(x_data , y_data , stratify=y_data, test_size=0.2 )

In [36]:
x_train.shape , x_test.shape , y_train.shape , y_test.shape

((1582,), (396,), (1582,), (396,))

vectorize x_train and x_test data.

In [37]:
from sklearn.feature_extraction.text import CountVectorizer

In [38]:
vec = CountVectorizer()
x_train_old = x_train
x_test_old = x_test
x_train = vec.fit_transform(x_train).toarray()
x_test = vec.transform(x_test).toarray()

Fit the data to model and train using x_train and y_train data

In [39]:
from sklearn.naive_bayes import MultinomialNB

model = MultinomialNB()
model.fit(x_train, y_train)

MultinomialNB()

Evaluate model - Giving around 0.7 score

In [40]:
model.score(x_test, y_test)

0.8813131313131313

In [41]:
pred = model.predict(x_test)

In [42]:
from sklearn.metrics import accuracy_score

In [43]:
print(accuracy_score(y_test , pred))

0.8813131313131313

In [44]:
test_text = ["strike epik freepik"]
test_text = list(map(stem, test_text))
predicted_label = model.predict(vec.transform(test_text))
print("Predicted class label:", predicted_label)

Predicted class label: ['baseball']

In [45]:
print('\n\n'.join([f'{i[0]}\t{i[1]}\t\t\t{i[2]}' for i in sorted(zip(y_test, pred, x_test_old)) if i[0] != i[1]]))

archery	basketball			dreamstim dreamstim dreamstim dreamstim creamstin dreamstimecom dreamstim dreamstim dreamstim dreamstim dreamstim dreamstim dreamstim id chocost

archery	golf			archery tourna kingsrow courtyard pp entry fee op ag first priz signin contest begin inform reg pleas visit wwwarcherytourneycom

archery	golf			houston ncsy kickoff ev archery hit et postermywallcom info rabb soussansoussansncsyorg rabb ay coh aycohenncsyorg wwwsouthwestncsyorg op reg nsu friend fun din join teen board across reg teen grad septemb pm pm godwin park houston texa nosu fre inspir jew fut new attend per person

archery	rugby			amg intern sport asiapac mast gam jeonbuk kore sat jeollabukdo provint enjoy sport play lif enjoy sport play lif wwwapmg kr

baseball	basketball			busch stad st lou

baseball	basketball			company nam sunday may basebal tryout com gam circ maxim cent main street urb imper romanor pm galliam est omn divis part tre unam incolunt belga aliam aquitan tert qui ipsor lingu celta nostr gall apeplantu iroem ips dol sit amet galliam est omn diivs part tre unam inclunt belga aliam aquitan tert qui ipsor lingu celta nostr gall appel reg onlin wwwwebsitecom fee info cal

baseball	basketball			dreamintim mon wed champ camst ad dream tim pmo basebal school eamstim best train san francisco id mar dolhov dreamstimecom dreamstimecom preview purpos

baseball	basketball			johnston basebal spent campidill cad godwin jacky smi gab weg may pleas walley may indiangl may bo vs am may vbottumw may vsdes moin lincoln may vs ankeny chart bank cha sam hen giv michael siem afiac ow dawsch j dida jayd hans jun v dalla centerbr web jun vs unband jun wow valley ab in bult mil rist styl tot truck dalda road iow city may southeast polk jun des moin east jun vs muscatin jun ii sioux city east jun vs wauk jun dowl cathol jun des moin hoov jun vs southeast polk jun urband kadin gordon dor brownwinick jar mey bb h real c commun hans est cho colox lawn landscap jack emanuel andrew bradshaw mag jun vs ballard jun vs waverlyshel rock jun vs multipl schools jun vs wom valley jun wauk july vb dowl cathol july vs marshalltown jt garc caleb christensen jak pembl woollum

baseball	basketball			may th basebal tourna team vs team b door op pm ticket fre park match fixt tig aug new york pm eagl jun menyrk dood sportsclub streetname youremailadresspomailcom

baseball	basketball			team background arc sport team design raseral

baseball	carrom			us us lo fin bound b world sebal r class

baseball	golf			nd an kincardin cub pd day basebal camp ub friday jun pm ag lunch provid connaught park contact gmstepanhotmailcom

baseball	golf			summervil high school basebal sign reg op august th pm pm summervil school field main street sumemrvil ny requir docu bir cert form ai www at park vis reg

baseball	rugby			warn basenal play oth struck

billiard	basketball			adob adob stock adob stock adob stock adob adob sto adob stock e stock adob stock adob stock adob adob stock reg dedlin may th dob entry adob stock dob stock adob stock billiard tourna ad im teamsvsb team biggest tourna year jun cal us info stock ad im nameyoursitenamecom yoursitenamecom fusernam usernam pusernam adob wwwgalleveco avcom stoc alob stock adob stock job stock adob stock adob stock stock adob adc adob stock

billiard	chess			ein tag ohn billard wurd mich vermutlich nicht umbr ab war ein risiko eingeh

billiard	chess			od od od od od od od od ge od od od od od od od od od billiard od od od od od od od

billiard	golf			fre ent first priz second priz billiard sunday febru th start pm tourna reg bar end janu info wwwbilliardtournamentintonicacom

billiard	golf			let talk ment heal club lamp snook pool bar gril ach pool tourna level welcom sunday th march club leicest pm pm per person pric includ pool tourna gam troph don lamp half tim lunch also look raffl priz pleas get touch don priz imp roof supply uk ltd wwwimperialroofingsuppliesuklimitedcouk spons support ment heal char let talk ment heal lamp

carrom	basketball			guest room dormit furnit corrom group room group g consist bed night tabl studio unit hs desk chair mir easy chair lug bench hcparker int off school libr supply new orl la ra camp st ra ak

carrom	cricket			isportin cricket bet tip carrom bal cricket term rul defenit condit

carrom	golf			orrom

chess	basketball			chess tourna saturday pm th april walnut street new york

chess	cricket			bon man london system

chess	cricket			pngtree info tion pngtree pngtree pngtre sud gtree pngtree pngtree pngtree tre pno pngtree pnot ongt th intern chess day gtree pngtree agt pret ongt tre pngtreepngtree gud tre pno sud pngtre pleas ad brand infom pleas ad brand infom herepleas ad infom logo pngtree pngtre pngtree oud gtreengtree pngtree sud on pngtree pn sud

chess	golf			cash priz rapid chess tourna venu gold west court dat jun tim saturday sunday entry join per divid contact john templatenet

chess	golf			clonmel libr adult chess g club saturday th march pm comhairl conta thiobraid aran tip county council libr serv

chess	rugby			gam chang world already ful play

chess	tennis			chess tourna th jun emp incididunt ut lab et dol magn aliqu shutterstockcom

cricket	archery			cricket world cup best bowl best field cricket wwwwwww best batsm man match last day entry nov max team ad text ad text ad text ad text ad text ad text ad text ad text nat stad ken design lan london kind see term condit ad text ad text ad text ad text

cricket	archery			sampl sampl sampl west indy v sri lank three test match sery port spain jun th th gro islet jun th th bridgetown jun rd th cru comfort carib visit travel ag today

cricket	basketball			cricket match borcel vs fauget cent aren saturday novemb pm anywh st city wwwreallygreatsitecom

cricket	basketball			stock sag adob adob stock stock e stock tock adob stock adob cricket champ adob dob sto adob stock adob st adob adob stock ad adob stock adob sto stock

cricket	golf			cricket tourna buy ticket th th sep book

cricket	rugby			ecb rottingd cricket club want play cricket look new play season v rcc adult juny welcom visit wwwrottingdeancricketclubcouk cal email therottershotmailcouk pleas also contact us yo interest scor and umpir

golf	archery			sportscotland activeschool midloth golf get act stay act challeng act midloth try someth new

rugby	basketball			rugby com watch gam liv season wwwwebsitecom cal day tourna jun extr titl info info info info info info info ev loc address

rugby	cricket			g rugo orega cimy g download dreamstimecom watermark comp im preview purpos dreamstim teamstim dreamstim id renk dreamstimecom

rugby	golf			aj gwirtsm corugby reg saturday pm washburn field facebookcomccrugby twittercomccrgby

tennis	archery			lik tenno mayb peopl

tennis	basketball			fly dpi cmyk col pres yourhotlin ten fre reg tourna may reg team plac street nam city nam stat nam tot priz visit websit wwwyourwebsitecom

tennis	basketball			pixtajp badminton tourna fixt

tennis	cricket			dreamstim download dreamstimecom preview purpos dreamstim tourna ten dreamstim invit id centerlinedesign dreamstimecom

tennis	cricket			ten cup champ liv ten champ champ let bat

tennis	cricket			ten desbsitchon depositph depositonoto depositphoto cositphoto decsitphoto depositphoto

tennis	golf			tamil sangam gre washington int tamil sangam gre washington reg nonprofit taxexempt c org ten tourna excit opportun showcas ten skil wwwtsgwdcorg menwom singl doubl mix grand fin award ceremony walt johnson high school rock spring dr bethesd md memb join today septemb th saturday reg last dat saturday septemb reg httpstinyurlcomtsgwtennis wwwwashingtontamilsangamorg tsgwdcf tsgwdc tamilsangamgw wwwtsgwdcorg

tennis	rugby			play f ten tourna vs play

# Support Vector Machines (SVM)

Support Vector Machines (SVM) are powerful supervised machine learning algorithms used for binary classification. However, they can be extended to handle multi-class classification using techniques like one-vs-one (OvO) or one-vs-rest (OvR). In this response, we'll go through the steps to train an SVM model for multi-class text classification using Python and the Scikit-learn library.

In [46]:
import numpy as np
import pandas as pd

In [47]:
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.svm import SVC
from sklearn.pipeline import Pipeline
from sklearn.multiclass import OneVsRestClassifier
from sklearn.metrics import classification_report, accuracy_score

In [48]:
x_data = df_train['text']
y_data = df_train['sport']

In [49]:
x_train , x_test , y_train , y_test = train_test_split(x_data , y_data , stratify=y_data, test_size=0.2, random_state=42 )

In [50]:
pipeline = Pipeline([
    ('tfidf', TfidfVectorizer()),
    ('clf', OneVsRestClassifier(SVC(kernel='linear', probability=True, class_weight='balanced')))
])

In [51]:
pipeline.fit(x_train, y_train)

Pipeline(steps=[('tfidf', TfidfVectorizer()),
                ('clf',
                 OneVsRestClassifier(estimator=SVC(class_weight='balanced',
                                                   kernel='linear',
                                                   probability=True)))])

In [52]:
y_pred = pipeline.predict(x_test)
print("Accuracy: ", accuracy_score(y_test, y_pred))
# print(classification_report(y_test, y_pred))

Accuracy:  0.946969696969697

In [53]:
print('\n\n'.join([f'{i[0]}\t{i[1]}\t\t\t{i[2]}' for i in sorted(zip(y_test, y_pred, x_test)) if i[0] != i[1]]))

archery	baseball			mar may phot hightech bow arrow wy per www comp buty ab may w www www p

archery	tennis			oct company pres archery tourna cash priz spons ad detail ad detail ad detail ad detail ad detail ad detail ad detail ad detail wwwwebsitecom ph

archery	tennis			step circul bowty infograph templ edit text edit text edit text edit text edit text edit text edit text edit text edit text edit text edit text edit text edit text edit text edit text edit text edit text edit text edit text n c

baseball	basketball			johnston basebal spent campidill cad godwin jacky smi gab weg may pleas walley may indiangl may bo vs am may vbottumw may vsdes moin lincoln may vs ankeny chart bank cha sam hen giv michael siem afiac ow dawsch j dida jayd hans jun v dalla centerbr web jun vs unband jun wow valley ab in bult mil rist styl tot truck dalda road iow city may southeast polk jun des moin east jun vs muscatin jun ii sioux city east jun vs wauk jun dowl cathol jun des moin hoov jun vs southeast polk jun urband kadin gordon dor brownwinick jar mey bb h real c commun hans est cho colox lawn landscap jack emanuel andrew bradshaw mag jun vs ballard jun vs waverlyshel rock jun vs multipl schools jun vs wom valley jun wauk july vb dowl cathol july vs marshalltown jt garc caleb christensen jak pembl woollum

baseball	basketball			rudydesign pepepo sport bar pres henvato denvato basebal match saturday march pm giant vs herc pepep sport bar pepep street nam ca cal detail

baseball	chess			est crash saint tr triton custombaseballjerseyscom highest qual custom uniform planet

baseball	cricket			busch stad st lou

basketball	carrom			pa muthoot institut technolog sci ant muthoot fin ev rol troph men wom keral basketbal tourna octob mit koch venu tot cash priz muthoot famy year busy leg institut technolog sci year excel

billiard	cricket			troph st nd ck k shutterstock vect tradit sm ds tourna tersek vect tradit sm shutterstock shut squil liv streaming shutterstock vect tradit sm saturday march th entry fee play max shutterstock stock im id wwwshutterstockcom sh sh

billiard	tennis			snook club pres snook tourna decemb th janu th fixt team detail contact

chess	baseball			strong cheg weak brav shar scar humbl vict badass everyday

chess	rugby			gam chang world already ful play

cricket	basketball			depositphoto cricket leagu depositph depositphoto depositph depositphcam av team b tomorrow ist depositphoto depositphoto depositphoto im id wwwdepositphotoscom

golf	cricket			shutterstock th an golf tournamenterstock ajg shutterstock ajg shutterstock shutterstock shut septemb ajg shutterstock stock im id wwwshutterstockcom

rugby	baseball			aj gwirtsm corugby reg saturday pm washburn field facebookcomccrugby twittercomccrgby

rugby	basketball			febru rugby tourna match day buck knick warry piston madison squ gard new york ny march littl caes aren detroit mi net wizard match day capit on aren washington dc pac king gold cent sacramento ca sun lak stapl cent los angel ca pel hornet spectr cent charlot nc match day feb blaz spur at cent san antonio tx thund piston littl caes aren detroit mi warry hawk stat farm aren atlant ga feb mar match day rapt cava quick loan aren cleveland oh bul rocket toyot cent houston tx feb celt timberwolv target cent minneapol mn match day mar jazz heat am airlin aren miam fl grizz er wel fargo cent philadelph pa clip maverick am airlin cent dalla tx cent stad us reserv ticket sel ticketssportcom wwwsportcom

rugby	basketball			itin liv tit cre cre cre cre cont cre cre cre al rugby nat cup cre tourna cre cre cre at cre cre cre cre cre cre guat

rugby	basketball			roy marin char gat op pm bar refresh sit rygb pm roy marin vet vs saturday august th llangol tow field nor wal barb pm roy marin corp vs rgc seny academy pm hog roast liv mus disco pavil wwwrmatrmcorg enquiry pleas contact llanrygbigmailcom tran spec guest

rugby	cricket			g rugo orega cimy g download dreamstimecom watermark comp im preview purpos dreamstim teamstim dreamstim id renk dreamstimecom

rugby	cricket			pool rugby sev men match schedule new zealand cxclad lang sri lank friday july australiany jrmica kentavocand new zealand vsri lank england sam kentav jamaic austral vugand england v slank new zealand vam kd sou afric v malays scotland ytong canad wil flja v zamb scotland v malays sou afric v tong wal v zamb flav canad birmingham com af darl fran pool b thafric sortland tong satu july ugandav jamaic austral v keny sam sri lank new zealand england urterfin bart fin art fin art pool c arterfin quarterfin ru tuncay malays sou afric scotland cad vzamb play wal quart fin quart fin wil zamb semifin smfinal semifin senf sunday jy playoff th playoff th playoff th poold birmingham austral kent jur smal send fin sem final semifin bronz med match semfinalun konnt z trnejonces fin win semifoliy wner ofsemifin

tennis	chess			komaterackorkturechorty techs coptschard hasepeg tehhhc shactbot tehnchet ccp man copernobahn

In [54]:
test_text = ["overs epik freepik"]
test_text = list(map(stem, test_text))
predicted_label = pipeline.predict(test_text)
print("Predicted class label:", predicted_label)

Predicted class label: ['cricket']

In [55]:
predicted_probabilities = pipeline.predict_proba(test_text)
print("Predicted class probabilities:", predicted_probabilities)

Predicted class probabilities: [[0.00186477 0.00345252 0.23590281 0.12376501 0.00174329 0.0310068
  0.59617219 0.00118329 0.00061286 0.00429646]]

In [56]:
from nltk.stem import LancasterStemmer

lc = LancasterStemmer()
tokens = ['hello caresses are you dies', 'caresses', 'flies', 'dies', 'mules', 'denied', 'died', 'agreed', 'owned', 'humbled', 'sized', 'meeting', 'stating', 'siezing', 'itemization', 'sensational', 'traditional', 'reference', 'colonizer', 'plotted']
stemmed_tokens = [lc.stem(token) for token in tokens]

print('\n'.join([str(i) for i in zip(tokens, stemmed_tokens)]))

('hello caresses are you dies', 'hello caresses are you dies')
('caresses', 'caress')
('flies', 'fli')
('dies', 'die')
('mules', 'mul')
('denied', 'deny')
('died', 'died')
('agreed', 'agree')
('owned', 'own')
('humbled', 'humbl')
('sized', 'siz')
('meeting', 'meet')
('stating', 'stat')
('siezing', 'siez')
('itemization', 'item')
('sensational', 'sens')
('traditional', 'tradit')
('reference', 'ref')
('colonizer', 'colon')
('plotted', 'plot')

In [57]:
keywords = {
    'archery': ['archery'], 
    'baseball': ['baseball', 'basebal'], 
    'basketball': ['basketbal', 'basketbal'], 
    'billiard': ['billiard'], 
    'carrom': ['carrom'], 
    'chess': ['chess'], 
    'cricket': ['cricket'], 
    'golf': ['golf'], 
    'rugby': ['rugby'], 
    'tennis': ['tennis']
}

keyword_map = {value[0]: key for key, value in keywords.items()}
print(keyword_map)

frame = df_train.copy()
pred = []
for i, row in df_train[df.sport == 'basketball'].iterrows():
  for j in keyword_map:
    if j in row['text']:
      print(keyword_map[j])
      break
  else:
    print("NO")
  
print(pred)

{'archery': 'archery', 'baseball': 'baseball', 'basketbal': 'basketball', 'billiard': 'billiard', 'carrom': 'carrom', 'chess': 'chess', 'cricket': 'cricket', 'golf': 'golf', 'rugby': 'rugby', 'tennis': 'tennis'}
basketball
basketball
basketball
basketball
basketball
basketball
basketball
basketball
basketball
basketball
basketball
basketball
basketball
basketball
basketball
basketball
basketball
basketball
basketball
NO
basketball
basketball
basketball
basketball
basketball
basketball
basketball
basketball
basketball
basketball
basketball
basketball
basketball
basketball
basketball
basketball
basketball
basketball
basketball
basketball
basketball
basketball
basketball
basketball
basketball
basketball
basketball
basketball
basketball
NO
basketball
basketball
basketball
basketball
basketball
basketball
basketball
basketball
basketball
NO
basketball
basketball
basketball
basketball
basketball
basketball
basketball
basketball
basketball
basketball
basketball
NO
basketball
basketball
basketball
NO
basketball
basketball
basketball
basketball
basketball
basketball
NO
basketball
basketball
basketball
basketball
basketball
basketball
basketball
basketball
basketball
basketball
basketball
basketball
NO
basketball
basketball
basketball
basketball
basketball
NO
basketball
basketball
basketball
basketball
basketball
basketball
basketball
basketball
NO
basketball
basketball
basketball
basketball
basketball
basketball
basketball
basketball
basketball
basketball
NO
basketball
NO
basketball
basketball
basketball
basketball
basketball
basketball
NO
NO
basketball
basketball
basketball
basketball
basketball
basketball
basketball
basketball
NO
basketball
basketball
basketball
basketball
basketball
basketball
basketball
basketball
NO
basketball
basketball
basketball
basketball
basketball
basketball
basketball
basketball
basketball
basketball
basketball
basketball
basketball
basketball
basketball
basketball
basketball
basketball
basketball
basketball
basketball
basketball
basketball
NO
basketball
basketball
NO
NO
basketball
basketball
basketball
basketball
basketball
NO
basketball
basketball
NO
basketball
basketball
basketball
basketball
basketball
basketball
basketball
basketball
basketball
basketball
basketball
basketball
NO
basketball
basketball
basketball
basketball
basketball
basketball
basketball
basketball
basketball
basketball
basketball
basketball
basketball
basketball
basketball
NO
basketball
basketball
basketball
basketball
basketball
basketball
basketball
basketball
[]

In [58]:
print(df_train.sport.unique())

['archery' 'baseball' 'basketball' 'billiard' 'carrom' 'chess' 'cricket'
 'golf' 'rugby' 'tennis']

# Random Forests Classifier

In [59]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report

# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(df_train["text"], df_train["sport"], test_size=0.2, random_state=42)

# Create an instance of TfidfVectorizer
tfidf_vectorizer = TfidfVectorizer()

# Fit and transform the preprocessed text data in the training set to create the TF-IDF features
X_train_tfidf = tfidf_vectorizer.fit_transform(X_train)

# Fit the Random Forest classifier with 100 estimators to the training set
rf_classifier = RandomForestClassifier(n_estimators=100, random_state=42)
rf_classifier.fit(X_train_tfidf, y_train)

# Transform the preprocessed text data in the testing set to create the TF-IDF features
X_test_tfidf = tfidf_vectorizer.transform(X_test)

# Make predictions on the testing set and evaluate the performance of the classifier
y_pred = rf_classifier.predict(X_test_tfidf)
print("Accuracy: ", accuracy_score(y_test, y_pred))
# print(classification_report(y_test, y_pred))

Accuracy:  0.9444444444444444

In [60]:
test_text = ["This is an example of bow test text"]

In [61]:
test_text_tfidf = tfidf_vectorizer.transform(test_text)

In [62]:
test_text_pred = rf_classifier.predict(test_text_tfidf)

In [63]:
print("Predicted class:", test_text_pred[0])

Predicted class: chess

In [64]:
print('\n\n'.join([f'{i[0]}\t{i[1]}\t\t\t{i[2]}' for i in sorted(zip(y_test, y_pred, X_test)) if i[0] != i[1]]))

archery	basketball			phuhet as ar rchery tourna

archery	chess			dreamstim dreamstim dreamstim dreamstim creamstin dreamstimecom dreamstim dreamstim dreamstim dreamstim dreamstim dreamstim dreamstim id chocost

archery	chess			timelin process infograph text wond ser tak possess entir soul lik sweet morn spring enjoy whol heart text wond ser tak possess entir soul lik sweet morn spring enjoy whol heart text wond ser tak possess entir soul lik sweet morn spring enjoy whol heart com

baseball	chess			adida g mustang big west conf champ nca reg topfo fin big west last season season bet sint wilson adida ang rid high team inform guid big west

baseball	golf			club pres cand med award se basebal tourna sery friday may tourna thismarch tourna sunday feb sat deadlin tourna friday march u u reg deadlin reg onlin play coach childr fre adss otherspect reg deadlin fre drink per drink fre park fre milkshak semih resort powy wwwbaseballtournamentcom

basketball	chess			basketb champ

billiard	basketball			troph st nd ck k shutterstock vect tradit sm ds tourna tersek vect tradit sm shutterstock shut squil liv streaming shutterstock vect tradit sm saturday march th entry fee play max shutterstock stock im id wwwshutterstockcom sh sh

billiard	chess			illiard wom min feet must flo shoot

billiard	chess			illiard wom min hoyr frut must flo week shootin

billiard	chess			od od od od od od od od ge od od od od od od od od od billiard od od od od od od od

billiard	cricket			pool knowledg play pool wh orac bal pov tysk lam ov stick www land wellend wo stant hit cve wom

carrom	chess			b f n z cm b cm c cm dia cm cm cm e cm thick k f cm g cm dia h cm dia cm max cm thick l h g e ec j cm k cm dia cm l cm dia cm cm dia n cm

carrom	chess			hard wood kik bord smoo surfac u po stik mad ind supery qual wood coin mat fin brand trust

carrom	tennis			soc med post templ julaburuigcm pres tour carrom tabl ten tourna sum ment dat tourna august august reg deadlin rd august ulab

cricket	baseball			dregalem dreamstim download nam cont team nam dreamstimecom watermark comp im preview purpos tim zz jamstim team nam guest dreamstim dreamstim id aurielak dreamstimecom

cricket	tennis			recr cricket girl ag c fre ten week cricket program peel oc osc energ excit empow district school board di every saturday start febru sav max sport cent sandalwood pkwy e brampton l r ok reg oscaschoolsorg ontario schools cricket assocy project mad poss thank canad wom sport govern canad canad dufferinpeel cathol district school board canad wom sport

rugby	archery			g rugo orega cimy g download dreamstimecom watermark comp im preview purpos dreamstim teamstim dreamstim id renk dreamstimecom

rugby	chess			condit apply play team possess bal maul delib leav maul b c e f law rel maul continu apply law gen play apply play leav maul may rejoin oppon maul play leav maul may rejoin foremost oppon maul play may rejoin oppon maul play may rejoin foremost oppon maul wrong

tennis	chess			ck ten imagestm getty im ock im ock imagestm tourna them text go istock getty imagestm istock getty imagestm istock getty imagestm istock getty im istock getty imagestm istock getty imagestm dat ist quam vol simol iberem qui tem vent lab in hit rat dit sa vend doluptiatem et vel deb ut atin istock getty imagestm istock getty imagestm c

tennis	chess			lon ur

tennis	chess			sinnl

tennis	golf			vervato redshinestudio pres competit vervato veryo ausernam biggest tourna year jun denvato ausernam usemam entry denvato includ lunch bev din reg dedlin may th at denvato wato vervato info infowebnamecom wwwwebnamecom rio tow mal venvato

# Decision Tree Classifier

In [65]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, classification_report
from sklearn.model_selection import train_test_split

# Split the dataset into training and testing sets
X_train, X_test, y_train, y_test, file_train, file_test = train_test_split(df_train["text"], df_train["sport"], df_train['file'], test_size=0.2, random_state=42)

# Create an instance of TfidfVectorizer
tfidf_vectorizer = TfidfVectorizer()

# Fit and transform the preprocessed text data in the training set to create the TF-IDF features
X_train_tfidf = tfidf_vectorizer.fit_transform(X_train)

# Train the Decision Tree classifier
dt = DecisionTreeClassifier(random_state=42)
dt.fit(X_train_tfidf, y_train)

X_test_tfidf = tfidf_vectorizer.transform(X_test)

# Make predictions on the testing set
y_pred = dt.predict(X_test_tfidf)

# Evaluate the performance of the classifier
print("Accuracy:", accuracy_score(y_test, y_pred))
print(classification_report(y_test, y_pred))

Accuracy: 0.9318181818181818
              precision    recall  f1-score   support

     archery       1.00      0.84      0.92        32
    baseball       0.96      0.98      0.97        48
  basketball       0.94      0.98      0.96        45
    billiard       1.00      0.76      0.86        29
      carrom       1.00      0.79      0.88        24
       chess       0.79      0.95      0.86        43
     cricket       0.95      0.93      0.94        44
        golf       1.00      1.00      1.00        49
       rugby       0.85      0.98      0.91        45
      tennis       0.97      0.95      0.96        37

    accuracy                           0.93       396
   macro avg       0.95      0.92      0.93       396
weighted avg       0.94      0.93      0.93       396

In [66]:
print('\n\n'.join([f'{i[3]}\t{i[0]}\t{i[1]}\t\t\t{i[2]}' for i in sorted(zip(y_test, y_pred, X_test, file_test)) if i[0] != i[1]]))

29	archery	baseball			timelin process infograph text wond ser tak possess entir soul lik sweet morn spring enjoy whol heart text wond ser tak possess entir soul lik sweet morn spring enjoy whol heart text wond ser tak possess entir soul lik sweet morn spring enjoy whol heart com

33	archery	basketball			know archery on safest sport world comp injury rat sport archery unit tim archery kid safest sport archery archery pprese nasp punct wound foreign body feath van embed hand archery saf sport archery vs archery vs rupt arrow shaft fal onto arrow billiard pool softbal os vi find coach club obey instruct sign vs check string cabl bow every shoot sess vs least injury rat archery wait arch don shoot clear cal tim would saf go rang retriev arrow togetkidsinvolv archery bicyc rid archery train abl teach ev saf tim footbal toteachyourkidsarchery coolorirresponsiblydang olympicarcherydevelop classesfornewjerseykid footbal common injury archery basketbal basebal fish ten basketbal year prev us nat saf council httpswwwnscorg httpswwwiiiorgfactstatisticfactsstatisticssports injury httpswwwncbinlmnihgovpubmed httpswwwwiredcom archeryinh httpswwwteamusaorgusaarcheryarchersjunior httpswwwarchery com reason httpswwwnaspschoolsorgaboutcoordinators httpolympicarcheryinschoolsorgcoaches httpswwwteamusaorgusaarcheryyouth httpwwwalarcherycomblogblogpostaspid httpwwwkidbowcomarcheryrulesforkidshtm httpmnarcheryorgstartingkidsinarcheryhtml httpbitzenburgercomarcheryforkidsgoodreasons httpsmommypoppinscomnewyorkcitykidsarchery rang saf foodbal olymp archery schools oa un archery leagu middl schools high schools start swim x nev point bow load arrow unauth target includ anim anoth person quot us nat saf council juny olymp archery develop joad program wellest program us archery seek bring young peopl sport target archery prep excel competit tim saf wear protect gear armgard glov prev bowst hit nat archery schools program nat archery schools program joint vent partn stat educ wildl man ag promot stud educ particip lifelong sport archery tim saf look arrow shaft imperfect lik dent crack f impl archery schools across kentucky emphas saf stud conduc train teach adh standard proc remark saf record vigil school district alway concern liabl issu espec sport recr act archery consist prov on safest sport taught publ schools phys educ program ref tim saf us nat saf council tim saf archery prob safest thing wev don phys class on person sent off injury act send least on stud day turn ankl jam fing elbow fac archery on ev hurt yo basketbal deal larg smal kid eighthgrad play play footbal sixthgrad kid get hurt run archery individ sport dont worry someon aggress behavy joey chilton wel instruct east hickm middl school lyl ten wait arch back behind lin load bow lac mishandl hunt anow shoot stay least feet behind arch keep voic level low oth easy monit determin effort skil techn saf conduc teach address stud provid individ feedback saf whistl cod mak sens stud good equip standard train enco saf particip jul jilek admin whit bear lak learn cent whit bear lak minnesot aboutarchery commit gen wilhoit kentucky depart educ teach receiv complet wel don confid stud much that emphas saf stud archerysaf inform pleas visit wwwarcherytopiccom httpsworldarcheryorgnews sixbiggestmyth httpswwwashfordcastlecomblog archeryfact httpswwwbowhunteredcomwisconsinstudyguide httpfamilyfunarcherycomindexphparcheryisasafe sport httparcheryforallagescomarcherysafety httpwwwdalkeith countryparkcoukoutdooract archeryarcheryfaq httpshootyssaorgfaqs httpsoliveplantscooplagrangecomoliveplantsarchery httpslegendarcherycomblogsarcherybowhunting blog whyyoushouldgetyourkidsstartedin archery httpswwwrovingarcherscomweneedyoursupport httpshighaltitudearcherycomtop itemstoconsid whenlookingforanexcellentarcherytrainingfacil httpknightsbowcomadditionalinformation httparcherymy reasonsteachkid archery

25	archery	chess			dreamstim dreamstim dreamstim dreamstim creamstin dreamstimecom dreamstim dreamstim dreamstim dreamstim dreamstim dreamstim dreamstim id chocost

130	archery	rugby			novemb pm th afr archery champ pretor afr archery champ tuk main rugby field lc de vil com join fun fin med match day best afric battl top spot try hand archery op rang shoot arrow food bev truck keep hung away fun ultim high see fre entry

152	archery	tennis			phuhet as ar rchery tourna

178	baseball	chess			adida g mustang big west conf champ nca reg topfo fin big west last season season bet sint wilson adida ang rid high team inform guid big west

323	basketball	chess			basketb champ

151	billiard	chess			billiard knowledg anatom pool tabl head pocket ther aim sink bal play posit nd import part play cush bump wel lik chess get bal pocket good result setup next mov offset striking point chang spee direct cue bal tak hit object bal allow plan next shot left engl ad clockw spin cue simil opposit effect right engush furnit tabl hit cue follow ad top spin cue caus continu rol forward hit object bal tip dont ad on cue ps leng sid pool rail cabinet sid blind apron bed clo fel foot cabinet end right engl ad count clockw spin cue us sev way draw ad back spin caus cue bal rol jor draw backward hit object bal draw espec us avoid scratching sink cue bal typ billiard ad opposit spin object bal caus throw slight chang traject chang direct cue bal bount sid rail long shot cue bal gain sught curv snook russ pool carom billiard pock head wrap grip but cap bump coin op bar box tabl cue bal return coll but forewrap coin chut cue stick wrap chalk chalk tip cur stick turn ev slip turn stick chalk ev coat tip joint return foot shaft leg level coll shaft clos bridg ferr anatom pool cue but but sleev pin bump op bridg mech bridg us reach shot shoot bal forearm tip ferr ring tip

621	billiard	chess			illiard wom min feet must flo shoot

645	billiard	chess			illiard wom min hoyr frut must flo week shootin

156	billiard	cricket			pool knowledg play pool wh orac bal pov tysk lam ov stick www land wellend wo stant hit cve wom

620	billiard	rugby			best billard play beard

148	billiard	rugby			snook knowledg bas rul snook snook beauty gam util bal feb dig figz ho barret billeand cur fil sept bridg approach slig de stant la feath tig bit obit import snook tip bet snook cue grip doe inv harold g barret g cue nee straight lin intend shot look cue know bal rol hit approach stant giv good thought ev hut bal follow snook cue tip confid mean tackl shot plan import snook tip snook play am real bridg flex enough hit bal deod cent cous screw shot ev top spin right foot near shot alway straight left foot front kne bent loos enough allow hip swivel red feath rehears think id posit tak shot whit bal aim accum maxim numb point til end gam fre bal point point point point point snook break nev miss scor point init get fre bal wel mak maxim break diff col bal cours gam first shot every snook gam break shot play brown yellow saf snook situ ar oppon left cho play bol eith hit cush first play mass shot point think shot risky play saf com behind bouk colo loos red boukk snook red remain tabl start pot col increas ord valu stort yellow way block total point snook break run oppon foul bol cannot hit half bal sid direct con nomin fre bol pot colo play saf gam snook two diff typ saf shot consid let look aggress safetyon put oppon troubl neg safetyon get troubl most play look play aggress saf try op red exampl cov pot opportun stop return saf are sometim play delib leav oppon difficult pot knowledg might forc going shot saf difficult sometim play play saf stop easy return boulk pot also difficult play might opt play neg word min rehears saf simply try get cue bal saf also know let get ey bal put oppon real troubl neg saf pocket import thing achiev saf good cue bal on cue bal tight cush alway caus oppon difficul on achiev good cue bal cov op tabl us bear fruit

152	billiard	rugby			troph st nd ck k shutterstock vect tradit sm ds tourna tersek vect tradit sm shutterstock shut squil liv streaming shutterstock vect tradit sm saturday march th entry fee play max shutterstock stock im id wwwshutterstockcom sh sh

671	carrom	basketball			poins pg gymkhan gen rul reg particip prop fil capit let sep form duply ag group boy girl entry form exceiv first cum first serv bas particip bring sport gear wrong inform giv unsport behavy dam property shal respons participantsschoolorg lead disq cost dam shal recov poins gymkhan alway win born panel judg decid fin protest lodg writ within minut decl result ev protest fee rs refund protest upheld decid tournamenttechn commit fin particip particip risk person property org commit right ad delet amend gen spec rul without giv pri not participantsschoolsorg www every team shal accompany sport teach coach along particip compet team shal report org tourna on hour pri scheduled tim particip abid rul reg tournamentmeet request postpon shal entertain entry form must duly sign auth person auth dat bir xerox cop bir cert proof ag must submit entry form carry tim ev produc cas demand off fee paid cash chequ creditdebit card onlin pay favo poins gymkhan cas chequ pay particip allow subject real chequ particip collect priz day tim priz distribut els forfeit gam shal play per rul prescrib govern body respect gam priz spec rul reg gam visit wwwpoinsurgymkhanacom pleas abid rul reg spec gen en gymkhan conduc every tourna ev ord man en play play gam tru spirit sportsm dign hon team sc utt mumba rid mahotsav nat progress you perform th nov th dec poins pg gymkhan alway win born honorway poins gymkhan cricket mallakhabmh gymnast skat kar chess schedule priz distribut ceremony carrom footbal basketbal volleybal hand bal swim athlet ev march past band box wrestl archery tabl tenny cm adv saturday th nov pm onward sunday st dec pm onward sunday st dec pm onward wednesday th dec pm onward pm onward saturday th dec saturday th dec pm onward sunday th dec pm onward poins gymkhan marg poins kandival west mumba tel email poinsurgymkhanagmailcom infopoinsurgymkhanacom wwwpoinsurgymkhanacompoinsurgymkhana

617	carrom	chess			b f n z cm b cm c cm dia cm cm cm e cm thick k f cm g cm dia h cm dia cm max cm thick l h g e ec j cm k cm dia cm l cm dia cm cm dia n cm

669	carrom	cricket			hard wood kik bord smoo surfac u po stik mad ind supery qual wood coin mat fin brand trust

640	carrom	rugby			carromboard rul book min schedule gam on two play team first turn play allow three attempt break le disturb cent group count doesnt mat piec striker hit first doesnt mat stick nec striker pocket queen and on piec co pdf striker tak anoth strike play pocket piec commit foul fin rul piec return cent plac top piec within main circ piec com rest stand edg overlap anoth piec left mov norm cours play striker com rest anoth piec striker remov littl disturb cov plec poss foul play commit foul tum com end immedy penal incur penal on pocket piec return board oppon anywh within main circ piec requir return board also plac within main circ oppon norm piec posit ord conf adv oppon food record follow stat striker pocket striker piec leav board aplay pocket oppon plec queen also pocket ist cent oppon togeth penal piec piec pocket strike remain pocket play pocket fin appon plec regardless wheth queen cov oppon piec return cent addit penal piec play pocket fin piec queen cov cas pocket piec penal plec return cent

636	carrom	rugby			play pocket piec black piec board win gam play pocket piec whit piec board

231	chess	rugby			gam chang world already ful play

490	chess	rugby			mak money gam peopl dont know play

47	cricket	baseball			tot wicket st in

9	cricket	basketball			dregalem dreamstim download nam cont team nam dreamstimecom watermark comp im preview purpos tim zz jamstim team nam guest dreamstim dreamstim id aurielak dreamstimecom

300	cricket	chess			digit dai gil af cens mas match icc wom world cup sou afric sri lank spoil sou africa big night

32	rugby	chess			g rugo orega cimy g download dreamstimecom watermark comp im preview purpos dreamstim teamstim dreamstim id renk dreamstimecom

119	tennis	chess			lon ur

215	tennis	chess			sinnl